<?php

return [
    'dispatchers' => [
        Chiron\Dispatcher\ConsoleDispatcher::class,
        Chiron\Dispatcher\SapiDispatcher::class,
        Chiron\Dispatcher\RrDispatcher::class,
        //Chiron\Dispatcher\ReactDispatcher::class,
    ],
    'providers' => [],
    'bootloaders' => [],
];
